.plum-button, .light-button:hover {
    background-color: #730D3F;
    color: #FFFFFF;
}

.light-button, .plum-button:hover {
    background-color: #FAFAFA;
    color: #730D3F;
}

vaadin-side-nav-item {
    color: #730D3F;
}

vaadin-side-nav-item[current] {
    background-color: #730D3F;
    color: white;
}

vaadin-side-nav-item[current]::part(link) {
    color: white;
}

.footer {
    bottom: 0;
    color: #730D3F
}
