html, :host { /* default styling colors ovewriting */
    --lumo-primary-color: #730D3F;
    --lumo-primary-color-10pct: #ffe8f3;
    --lumo-primary-text-color: #730D3F;
    --lumo-secondary-text-color: #730D3F;
}


vaadin-side-nav-item[current]{
    --lumo-primary-color-10pct: #730D3F;
}

.plum-button, .light-button:hover, vaadin-login-form vaadin-button {
    background-color: #730D3F;
    color: #FFFFFF;
}

.plum-button:hover, .light-button, vaadin-login-form vaadin-button:hover {
    background-color: #FAFAFA;
    color: #730D3F;
}

vaadin-side-nav-item, vaadin-side-nav-item > [slot="prefix"] {
    color: #730D3F;
}

vaadin-side-nav-item[current] {
    background-color: #730D3F;
    color: white;
}

vaadin-side-nav-item[current]::part(link), vaadin-side-nav-item[current] > [slot="prefix"]  {
    color: white;
}

.footer {
    bottom: 0;
    color: #730D3F;
}


.transparent-button, vaadin-login-form-wrapper::part(form-title), vaadin-login-form [slot="label"], vaadin-login-form [slot="forgot-password"], vaadin-login-form-wrapper vaadin-text-field, vaadin-login-form-wrapper vaadin-password-field  {
    color: #730D3F;
    background-color: #FFFFFF;
}

vaadin-login-form-wrapper::part(form-title) {
    text-align: center;
}

h2, .plum-text, vaadin-text-field::part(label), vaadin-password-field::part(label), vaadin-email-field::part(label), vaadin-text-area::part(label), vaadin-combo-box::part(label) {
    color: #730D3F;
}

.center-text {
    text-align: center;
}

vaadin-avatar {
    color: #730D3F;
}

vaadin-grid::part(selected-row-cell), vaadin-grid::part(header-cell), vaadin-grid::part(header-cell):hover, vaadin-grid::part(details-cell) {
    --vaadin-grid-cell-background: #FFFFFF;
    --vaadin-input-field-readonly-border: #FFFFFF;
}

vaadin-grid::part(row):hover {
    --vaadin-grid-cell-background: #fcedf5;
}

vaadin-grid::part(body-cell):hover, vaadin-button:hover {
  cursor: pointer;
}

.status-green {
    color: green;
}

.status-red {
    color: red;
}

.italics, vaadin-month-calendar::part(selected date), vaadin-month-calendar::part(today date), vaadin-date-picker-year::part(year-number), vaadin-date-picker-overlay-content > vaadin-button {
    color: #730D3F;
}

.plum-text-white {
    color: #730D3F;
    background: white;
}
